version: "3.9"
services:
  mysql:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ultron
    ports:
      - "3306:3306"
    volumes:
      - ultron_mysql:/var/lib/mysql
volumes:
  ultron_mysql:
